<!-- Footer -->

<footer id="footer" class="footer">
  <div class="container">
    <div class="div-adaptive">
      <div class="div-footer-logo">
        <a href="#header" title="icon">
          <svg class="footer-icon">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <address class="fotter-address">
          <a class="footer-tel-link" href="tel:+380665438912"
            >UK:&nbsp;+38&nbsp;066&nbsp;543&nbsp;8912</a
          ><br /><a
            href="https://www.google.com/maps/place/kiyv/data=!4m2!3m1!1s0x40d4cf4ee15a4505:0x764931d2170146fe?sa=X&ved=2ahUKEwiUo7CZiOCDAxWp7LsIHc6JBkoQh8EJegQIERAA"
            class="footer-tel-link"
            target="_blank"
          >
            Ukraine, Kyiv</a
          >
        </address>
      </div>
      <div class="footer-link">
        <div>
          <ul class="footer-social-div">
            <li>
              <a
                class="footer-social"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                >Instagram</a
              >
            </li>
            <li>
              <a
                class="footer-social"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                >Facebook</a
              >
            </li>
            <li>
              <a
                class="footer-social"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                >Youtube</a
              >
            </li>
          </ul>
        </div>
        <div>
          <ul class="footer-nav">
            <li><a class="footer-social" href="#about-us">About us</a></li>
            <li>
              <a class="footer-social" href="#our-courses">Our courses</a>
            </li>
            <li>
              <a class="footer-social" href="#our-mentors">Our mentors</a>
            </li>
            <li><a class="footer-social" href="#reviews">Reviews</a></li>
            <li><a class="footer-social" href="#footer">Contacts</a></li>
          </ul>
        </div>
      </div>
      <div class="div-footer-form">
        <form class="footer-form">
          <label>
            <input
              class="footer-input"
              type="email"
              name="email"
              pattern="([A-Z])\w+([a-z])\w"
              placeholder="Enter your email"
            />
          </label>
          <button class="footer-button" type="submit">Go</button>
        </form>
      </div>
    </div>
    <div class="fotter-privacy">
      <p class="footer-text-privacy">
        Privacy Policy Public&nbsp;Offering&nbsp;Agreement
      </p>
      <p class="footer-text-frame">
        2023 Focus Frame &copy;All rights reserved
      </p>
    </div>
  </div>
</footer>
