<!-- Header -->
<header id="header" class="page-header header-positions">
  <div class="container header">
    <nav class="page-nav">
      <a href="" class="header-logo" title="logo">
        <svg class="logo-icon" width="127px" height="20">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <a href="" class="camera" title="icon-camera">
        <svg class="camera-icon" width="16" height="16">
          <use href="/img/icons.svg#icon-camera"></use>
        </svg>
      </a>
      <button type="button" class="menu-btn" aria-label="Open menu button">
        <svg class="menu-icon">
          <use class="menu-icon-use" href="/img/icons.svg#icon-nav"></use>
        </svg>
      </button>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#about-us" class="nav-list-link active">About us</a>
        </li>
        <li class="nav-list-item">
          <a href="#our-courses" class="nav-list-link">Our courses</a>
        </li>
        <li class="nav-list-item">
          <a href="#our-mentors" class="nav-list-link">Our mentors</a>
        </li>
        <li class="nav-list-item">
          <a href="#reviews" class="nav-list-link">Reviews</a>
        </li>
        <li class="nav-list-item">
          <a href="#footer" class="nav-list-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <a href="#sign-up" class="header-sign-btn">Sign up</a>
  </div>
</header>
