<!-- Mobile-menu -->
<div class="mobile-menu">
  <button class="menu-close-btn" type="button">
    <svg class="menu-btn-icon">
      <use href="/img/icons.svg#icon-x"></use>
    </svg>
  </button>

  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link current" href="#about-us">About us</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#our-courses">Our courses</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#our-mentors">Our mentors</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#reviews">Reviews</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#footer">Contacts</a>
    </li>
  </ul>
</div>
