<!-- Mobile-menu -->
<div class="mobile-menu">
  <button class="menu-close-btn" type="button">
    <svg class="menu-btn-icon">
      <use href="/img/icons.svg#icon-x"></use>
    </svg>
  </button>

  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link current" href="">About us</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Our courses</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Our mentors</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Reviews</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Contacts</a>
    </li>
  </ul>
</div>
