    <section class="mentors-info">
      <div class="container">
        <h2 class="mentors-title">Our <span>Mentors</span></h2>

        <ul class="mentors-list">
          <li class="mentors-card">
            <picture>
                <source src="image.webp" type="image/webp">
               <img
              srcset="
                /img/our-mentors/girl_1_1x.webp 1x,
                /img/our-mentors/girl_1_2x.webp 2x
              "
              src="/img/our-mentors/girl_1_1x.webp"
              alt="blonde girl with a bob"
              width="180"
              height="180"
            />  
            </picture>
           
            <div class="mentors-card-info">
              <h2 class="mentors-card-title">Emilia Smith</h2>
              <h3 class="mentors-experience">1.5 years of experience</h3>
            </div>
          </li>

          <li class="mentors-card">
            <picture>
             <source src="image.webp" type="image/webp">

               <img
              srcset="
                /img/our-mentors/boy_1_1x.webp    1x,
                /img/our-mentors/boy_1_2x.webp 2x
              "
              src="/img/our-mentors/boy_1_1x.webp"
              alt="red men"
              width="180"
              height="180"
            /> 
            </picture>
            
            <div class="mentors-card-info">
              <h2 class="mentors-card-title">Alex Lebedev</h2>
              <h3 class="mentors-experience">3.5 years of experience</h3>
            </div>
          </li>

          <li class="mentors-card">
            <picture>
                <source src="image.webp" type="image/webp">
                <img
              srcset="
                /img/our-mentors/girl_2_1x.webp    1x,
                /img/our-mentors/girl_2_1x.webp 2x
              "
              src="/img/our-mentors/girl_2_1x.webp"
              alt=""
              width="180"
              height="180"
            />
            </picture>
            
            <div class="mentors-card-info">
              <h2 class="mentors-card-title">Mia Dubrovska</h2>
              <h3 class="mentors-experience">2.0 years of experience</h3>
            </div>
          </li>

          <li class="mentors-card">
            <picture>
                <source src="image.webp" type="image/webp">
                <img
              srcset="
                /img/our-mentors/boy_2_1x.webp    1x,
                /img/our-mentors/boy_2_2x.webp
              "
              src="/img/our-mentors/boy_2_1x.webp"
              alt=""
              width="180"
              height="180"
            />
            </picture>
            
            <div class="mentors-card-info">
              <h2 class="mentors-card-title">Eliot Kovalev</h2>
              <h3 class="mentors-experience">4.0 years of experience</h3>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
