<section class="section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <ul class="reviews-list">
      <div class="reviews-wrapper">
        <li class="reviews-item">
          <div class="reviews-wrapper-item">
            <img
              srcset="
                ./img/reviews/user_1_1x.webp 1x,
                ./img/reviews/user_1_2x.webp 2x
              "
              src="./img/reviews/user_1_1x.webp"
              alt="user Abraham Baker"
              class="reviews-img"
            />
            <div class="reviews-text">
              <h3 class="reviews-list-name">Abraham Baker</h3>
              <p class="reviews-list-status">Student</p>
            </div>
          </div>
          <p class="reviews-impression">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
          <ul class="reviews-list-icon">
            <li class="reviews-item-icon">
              <svg class="reviews-icon" width="20px" height="20px">
                <use href="./img/icons.svg#icon-rating"></use>
              </svg>
            </li>
            <li class="reviews-item-icon">
              <svg class="reviews-icon" width="20px" height="20px">
                <use href="./img/icons.svg#icon-rating"></use>
              </svg>
            </li>
            <li class="reviews-item-icon">
              <svg class="reviews-icon" width="20px" height="20px">
                <use href="./img/icons.svg#icon-rating"></use>
              </svg>
            </li>
            <li class="reviews-item-icon">
              <svg class="reviews-icon" width="20px" height="20px">
                <use href="./img/icons.svg#icon-rating"></use>
              </svg>
            </li>
            <li class="reviews-item-icon">
              <svg class="reviews-icon" width="20px" height="20px">
                <use href="./img/icons.svg#icon-rating-0"></use>
              </svg>
            </li>
          </ul>
        </li>
      </div>
      <div class="reviews-wrapper wrapper-amanda">
        <li class="reviews-item">
          <div class="reviews-wrapper-item">
            <img
              srcset="
                ./img/reviews/user_2_1x.webp 1x,
                ./img/reviews/user_2_2x.webp 2x
              "
              src="./img/reviews/user_2_1x.webp"
              alt="user Amanda Lowery "
              class="reviews-img"
            />
            <div class="reviews-text">
              <h3 class="reviews-list-name">Amanda Lowery</h3>
              <p class="reviews-list-status">Student</p>
            </div>
          </div>
          <p class="reviews-impression">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
          <ul class="reviews-list-icon">
            <li class="reviews-item-icon">
              <svg class="reviews-icon" width="20px" height="20px">
                <use href="./img/icons.svg#icon-rating"></use>
              </svg>
            </li>
            <li class="reviews-item-icon">
              <svg class="reviews-icon" width="20px" height="20px">
                <use href="./img/icons.svg#icon-rating"></use>
              </svg>
            </li>
            <li class="reviews-item-icon">
              <svg class="reviews-icon" width="20px" height="20px">
                <use href="./img/icons.svg#icon-rating"></use>
              </svg>
            </li>
            <li class="reviews-item-icon">
              <svg class="reviews-icon" width="20px" height="20px">
                <use href="./img/icons.svg#icon-rating"></use>
              </svg>
            </li>
            <li class="reviews-item-icon">
              <svg class="reviews-icon" width="20px" height="20px">
                <use href="./img/icons.svg#icon-rating-0"></use>
              </svg>
            </li>
          </ul>
        </li>
      </div>
    </ul>
  </div>
</section>
