<section id="reviews" class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="reviews-item-item">
          <picture>
            <source
              srcset="
                ./img/reviews/user_1_1x.webp 1x,
                ./img/reviews/user_1_2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/reviews/img/user@1x.jpg 1x,
                ./img/reviews/img/user@2x.jpg 2x
              "
              type="image/webp"
            />
            <img
              src="./img/reviews/img/user@1x.jpg"
              alt="user Abraham Baker"
              class="reviews-img"
              height="56"
              width="56"
              loading="lazy"
            />
          </picture>
          <div class="reviews-text">
            <p class="reviews-list-name">Abraham Baker</p>
            <p class="reviews-list-status">Student</p>
          </div>
        </div>
        <p class="reviews-impression">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
        <ul class="reviews-list-icon">
          <li class="reviews-item-icon">
            <svg class="reviews-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-rating"></use>
            </svg>
          </li>
          <li class="reviews-item-icon">
            <svg class="reviews-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-rating"></use>
            </svg>
          </li>
          <li class="reviews-item-icon">
            <svg class="reviews-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-rating"></use>
            </svg>
          </li>
          <li class="reviews-item-icon">
            <svg class="reviews-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-rating"></use>
            </svg>
          </li>
          <li class="reviews-item-icon">
            <svg class="reviews-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-rating-0"></use>
            </svg>
          </li>
        </ul>
      </li>

      <li class="reviews-item wrapper-amanda">
        <div class="reviews-item-item">
          <picture>
            <source
              srcset="
                ./img/reviews/user_2_1x.webp 1x,
                ./img/reviews/user_2_2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/reviews/img/user-2@1x.jpg 1x,
                ./img/reviews/img/user-2@2x.jpg 2x
              "
              type="image/webp"
            />
            <img
              src="./img/reviews/img/user-2@1x.jpg"
              alt="user Amanda Lowery"
              class="reviews-img"
              height="56"
              width="56"
              loading="lazy"
            />
          </picture>
          <div class="reviews-text">
            <p class="reviews-list-name">Amanda Lowery</p>
            <p class="reviews-list-status">Student</p>
          </div>
        </div>
        <p class="reviews-impression">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
        <ul class="reviews-list-icon">
          <li class="reviews-item-icon">
            <svg class="reviews-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-rating"></use>
            </svg>
          </li>
          <li class="reviews-item-icon">
            <svg class="reviews-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-rating"></use>
            </svg>
          </li>
          <li class="reviews-item-icon">
            <svg class="reviews-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-rating"></use>
            </svg>
          </li>
          <li class="reviews-item-icon">
            <svg class="reviews-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-rating"></use>
            </svg>
          </li>
          <li class="reviews-item-icon">
            <svg class="reviews-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-rating-0"></use>
            </svg>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
