<section class="sign-up-section">
    <div class="container">
    <h2 class="sign-up-section-title">Sign <span class="sign-up-section-title-up">Up</span></h2>
    <p class="sign-up-section-text">Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
    <form class="sign-up-section-form">
        <div class="sign-up-section-form-wrapper">
            <label class="sign-up-section-label"
                    for="user-name">
                <input class="sign-up-section-input"
                    id="user-name" 
                    name="user-name" 
                    type="text" 
                    placeholder="Enter your name"
                    pattern="[a-zA-Zа-яА-ЯІіЇїЄєҐґʼ]+"
                    title="Maryna"
                    required>
            </label>
            <label class="sign-up-section-label"
                    for="user-email">
                <input class="sign-up-section-input"
                    id="user-email" 
                    name="user-email" 
                    type="email"
                    placeholder="Enter your email"
                    required>
            </label>
            <label class="sign-up-section-label"
                    for="user-comment">
                <textarea class="sign-up-section-message"
                    name="user-comment" 
                    id="user-comment"
                    placeholder="Message"
                    required></textarea>
            </label>
        </div>
    <button class="sign-up-section-btn"
    type="submit">send</button>
    <p class="sign-up-section-privacy">By clicking on “Send” button, you agree to our <span class="sign-up-privacy-policy"><a href="">Privacy Policy</a></span>, <br>and allow Promodo to use this information for marketing purposes.</p>
    </form>
</div>
<div class="sign-up-section-imgages">
    <div class="img-objectiv-div">
        <img    class="img-objective"
                srcset="../img/sign-up/objective_1x.webp  1x,
                        ../img/sign-up/objective_6x.webp  2x"
                src="../img/sign-up/objective_1x.webp" 
                alt="camera objective"
                width="150"
                height="142"
                >
    </div>
    <div class="img-camera-div">
        <img    class="img-camera"
                srcset="../img/sign-up/camera_1x.webp   1x,
                        ../img/sign-up/camera_2x.webp   2x"
                src="../img/sign-up/camera_1x.webp" 
                alt="video camera"
                width="240"
                height="296">
    </div>

</div>
</section>


