<section id="sign-up" class="sign-up-section section">
  <div class="container wprapper-sing">
    <div>
      <h2 class="sign-up-section-title">
        Sign <span class="sign-up-section-title-up">Up</span>
      </h2>
      <p class="sign-up-section-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-up-section-form">
        <div class="sign-up-section-form-wrapper">
          <label class="sign-up-section-label" for="user-name">
            <input
              class="sign-up-section-input"
              id="user-name"
              name="user-name"
              type="text"
              placeholder="Enter your name"
              pattern="[a-zA-Zа-яА-ЯІіЇїЄєҐґʼ]+"
              title="Maryna"
              required
            />
          </label>
          <label class="sign-up-section-label" for="user-email">
            <input
              class="sign-up-section-input"
              id="user-email"
              name="user-email"
              type="email"
              placeholder="Enter your email"
              required
            />
          </label>
          <label class="sign-up-section-label" for="user-comment">
            <textarea
              class="sign-up-section-message"
              name="user-comment"
              id="user-comment"
              placeholder="Message"
              required
            ></textarea>
          </label>
        </div>
        <button class="sign-up-section-btn" type="submit">send</button>
        <p class="sign-up-section-privacy">
          By clicking on “Send” button, you agree to our
          <span class="sign-up-privacy-policy"
            ><a href="">Privacy Policy</a></span
          >, <br />and allow Promodo to use this information for marketing
          purposes.
        </p>
      </form>
    </div>
    <div class="sign-up-section-imgages">
      <div class="img-objectiv-div">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/sign-up/object-px1440@1x.webp 1x,
              ./img/sign-up/object-px1440@2x.webp 2x
            "
            height="160"
            width="151"
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              ./img/sign-up/object-1x.webp 1x,
              ./img/sign-up/object-2x.webp 2x
            "
            height="147"
            width="139"
          />
          <img
            class="img-objective"
            src="./img/sign-up/object-1x.webp"
            alt="objectiv"
            height="147"
            width="1439"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="img-camera-div">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/sign-up/camera-1440px_1x.webp 1x,
              ./img/sign-up/camera-1440px_2x.webp 2x
            "
            width="248"
            height="306"
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              ./img/sign-up/camera_1x.webp 1x,
              ./img/sign-up/camera_2x.webp 2x
            "
            width="248"
            height="303"
          />
          <img
            class="img-objective"
            src="../img/sign-up/camera_1x.webp"
            alt="objectiv"
            width="248"
            height="303"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
