.container-about-us {
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  
  
}

@media only screen and (min-width: 768px) {
  .container-about-us {
    gap: 50px;
    }
}
.about-us-box {
    gap: 40px;
  }
@media only screen and (min-width: 768px) and (min-width: 1440px) {
  .about-us-box {
    gap: 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-us-box {
    display: flex;
    gap: 40px;
  }
}
.about-us-title {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px) {
  .about-us-title {
    font-size: 48px;
    line-height: 1.13;
  }
}
.accent-title {
  color: #bea69e;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px) {
  .accent-title {
    font-size: 48px;
    line-height: 1.13;
  }
}
.about-us-list {
  margin-top: 40px;
}
@media only screen and (min-width: 768px)  {
  .about-us-list {
    display: flex;
    gap: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-us-list {
    gap: 20px;
    margin-top: 0;
  }
}
 @media only screen and (min-width: 1440px) {
  .about-us-list {
    gap: 40px;
  }
} 
@media only screen and (max-width: 768px) {
  .about-us-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.about-us-page {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  width: 335px;
}
@media only screen and (min-width: 768px) {
  .about-us-page {
    font-size: 16px;
    line-height: 1.25;
    width: 280px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-us-page {
    width: 314px;
  }
}
