.mentors-info {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .mentors-info {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .mentors-info {
    padding: 75px 0;
  }
}

@media only screen and (min-width: 768px) {
  .mentors-info {
    width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .mentors-info {
    width: 1080px;
  }
}

@media only screen and (min-width: 1440px) {
  .mentors-info {
    width: 1240px;
  }
}

.mentors-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}

.mentors-title > span {
  color: #bea69e;
}

@media only screen and (min-width: 768px) {
  .mentors-title {
    font-size: 48px;
    line-height: 1.13;
    margin-bottom: 50px;
  }
}

.mentors-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .mentors-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 93px;
    column-gap: 114px;
  }
}

@media only screen and (min-width: 1280px) {
  .mentors-list {
    flex-wrap: nowrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
  }
}

.mentors-card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 240px;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .mentors-card {
    width: 194px;
    height: 250px;
  }
}

@media only screen and (min-width: 1280px) {
  .mentors-card:not(:nth-child(3)) {
    width: 180px;
  }
}

.mentors-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.mentors-card-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .mentors-card-title {
    font-size: 28px;
    line-height: 1.14;
  }
}

@media only screen and (min-width: 1280px) {
  .mentors-card-title {
    letter-spacing: -0.01em;
  }
}

.mentors-experience {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .mentors-experience {
    font-size: 14px;
  }
}
