.sign-up-section-title {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
.sign-up-section-title-up {
  color: #bea69e;
}
.sign-up-section-text {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.sign-up-section-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sign-up-section-input {
  width: 100%;
  height: 46px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  padding-left: 18px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}
.sign-up-section-input:hover,
.sign-up-section-input:focus,
.sign-up-section-input:active {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.sign-up-section-input::placeholder {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  opacity: 0.7;
}
.sign-up-section-message {
  display: block;
  width: 100%;
  height: 112px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  padding: 18px 14px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
  resize: none;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}
.sign-up-section-message::placeholder {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  opacity: 0.7;
}
.sign-up-section-message:hover,
.sign-up-section-message:focus,
.sign-up-section-message:active {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.sign-up-section-btn {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  padding: 14px 127px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  background: var(--white, #fff);
  color: var(--black, #121212);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}
.sign-up-section-btn:hover,
.sign-up-section-btn:focus {
  background: #1d1d1d;
  color: #bea69e;
}
.sign-up-section-privacy {
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;
}
.sign-up-privacy-policy {
  text-decoration: underline;
}
.sign-up-section-imgages {
  display: none;
}
/* <--===================== SIGN-UP ADAPTIVE MOBILE ========================--> */
@media screen and (min-width: 375px) {
  .sign-up-section-text {
    width: 295px;
  }
  .sign-up-section-input {
    width: 335px;
  }
  .sign-up-section-message {
    width: 335px;
  }
  .sign-up-section-btn {
    width: 335px;
  }
  .sign-up-section-privacy {
    width: 335px;
  }
}
/* <--===================== /SIGN-UP ADAPTIVE MOBILE ========================--> */
/* <--=========================== SIGN-UP TABLET ==============================--> */
@media screen and (min-width: 768px) {
  .sign-up-section-title {
    font-size: 48px;
    line-height: 1.125;
    letter-spacing: -0.04em;
  }
  .sign-up-section-text {
    width: 480px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
  .sign-up-section-input {
    width: 480px;
    height: 60px;
  }
  .sign-up-section-message {
    width: 480px;
    height: 119px;
    padding: 18px 20px;
  }
  .sign-up-section-btn {
    width: 479px;
    padding: 16px 216px;
    font-size: 18px;
    line-height: 1.56;
  }
  .sign-up-section-privacy {
    width: 480px;
    font-size: 14px;
    line-height: 1.29;
  }
}
/* <--=========================== /SIGN-UP TABLET ==============================--> */
/* <--=========================== SIGN-UP DESKTOP ==============================--> */
@media screen and (min-width: 1158px) {
  .sign-up-section {
    display: flex;
    gap: 60px;
    max-width: 1110px;
    margin: 0 auto;
  }
  .container {
    margin: 0;
    padding: 0;
  }
  .sign-up-section-imgages {
    display: flex;
    align-items: end;
    gap: 20px;
  }
  .img-objectiv-div {
    border-radius: 1000px;
    background: #bea69e;
    padding: 63px 18px 62px 18px;
  }
  .img-objective {
    /* display: block;
        width: 150px;
        height: 142px; */
    background: transparent;
    filter: drop-shadow(-35px 17px 25px rgba(0, 0, 0, 0.26));
  }
  .img-camera-div {
    padding: 156px 50px 88px 50px;
    border-radius: 1000px;
    background: #1d1d1d;
    overflow: hidden;
  }
  .img-camera {
    display: block;
    min-width: 240px;
    min-height: 296px;
  }
}
/* <--=========================== /SIGN-UP DESKTOP ==============================--> */
@media screen and (min-width: 1440px) {
  .sign-up-section {
    max-width: 1270px;
    gap: 200px;
  }
}
